<!doctype html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>A. Rezine</title>

<link rel="stylesheet" href="/stylesheets/styles.css">
<link rel="stylesheet" href="/stylesheets/pygment_trac.css">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>

<div class="wrapper">      
  <header>
  <h1>Ahmed Rezine</h1>  
  <img src="/images/rahmed.jpg" width="226" height="302"/>
  <p> ahmed[dot]rezine[email]liu.se</br>  
  Tel: +46 (0)13 28 19 38     </br>
  Fax: +46 (0)13 14 94 03     </br>
  Linköping University        </br>
  SE-581 83 LINKÖPING</p>
  </header>
  
  <section>
    <h2><ul id="navlist">
      <li> <a href="/">home</a></li>
      <li> <a href="/research/">research</a></li>
      <li> <a href="/teaching/">teaching</a></li>
      <li> <a href="/tools/">tools</a></li>
    </ul></h2>
  {{ content }}  
  </section>

<footer>
<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
</footer>
  
</div>

<script src="javascripts/scale.fix.js"></script>
</body>
</html>